.menu{
    width: 100vw;
    height: 8.5vh;
    background-color: #141314;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}


.list {
    list-style: none;
    display: flex;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: #fff;
    text-decoration: none;
}

.item a:hover{
    color: #ffbb33;
    text-decoration: none;
}